<div class="container" fxLayout="column" fxLayoutGap="10px">

<mat-list fxFlex>
    <mat-list-item *ngFor="let dish of dishes">
        <img matListAvatar src={{dish.image}} alt={{dish.name}}>
        <h1 matLine>{{dish.name}}</h1>
        <p matLine>
             <span>{{dish.description}}</span>
        </p>
    </mat-list-item>

</mat-list>


</div>
